<div class="yelping-wobster">
	<h1>Hello Wobster</h1>
	<h3>and hello cats</h3>

<%= form_tag({:action => :upload}, :multipart => true) do %>
	<%= file_field_tag 'file' %>
	<%= submit_tag 'Known functionality' %>
<% end %>

<%= form_tag({:action => :signin}) do %>
	<%= submit_tag 'Press this button for debugging!' %>
<% end %>